* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: tahoma;
}

a {
	font-family: tahoma;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	text-decoration: none;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

a:hover {
	text-decoration: none;
}

a:focus {
	outline: none !important;
}

.container {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: rgb(16, 30, 27);
  
}

.wrap {
  width: 450px;
  background: rgb(21, 43, 41);
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 2px 12px 0 rgb(4, 8, 7);
}

.title {
  display: block;
  font-family: tahoma;
  font-size: 24px;
  color: rgb(206, 228, 217);
  text-align: center;
  padding-bottom: 20px;
}

.sub {
  font-size: 22px;
  color: rgb(127, 158, 142);
}

.footer {
  display: block;
  font-family: tahoma;
  font-size: 16px;
  color: rgb(118, 141, 129);
  text-align: center;
  padding-top: 5px;
  margin-bottom: -25px;
}

.wrap-button {
  display: block;
  border-radius: 25px;
  background: rgb(52, 71, 70);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}

.wrap-button:hover {
  background: rgb(75, 104, 103);
}

/*
.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}
*/

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 72px 15px 65px 15px;
  }
}
